/**
 * @file
 * Basic page styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */
/* line 10, ../sass/page.scss */
#main {
  padding-top: 0px;
}

/* line 14, ../sass/page.scss */
.limiter {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1200px;
}

/* line 22, ../sass/page.scss */
#content {
  padding-bottom: 20px;
  margin-top: 20px;
}

/* line 31, ../sass/page.scss */
.not-front .content-inner-wrapper, .nav-inner-wrapper {
  padding: 10px;
}

/* line 39, ../sass/page.scss */
.islandora-basic-collection-display-switch ul {
  float: right;
}

/* line 43, ../sass/page.scss */
.inner-page-wrapper {
  background-color: white;
  box-sizing: border-box;
  padding: 10px;
}

/* line 49, ../sass/page.scss */
.front .inner-page-wrapper {
  background-color: transparent;
}

/* line 53, ../sass/page.scss */
.header__site-slogan {
  text-decoration: none;
}

/* line 57, ../sass/page.scss */
#header {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 62, ../sass/page.scss */
.branding-wrapper {
  display: table;
  padding-right: 10px;
}

/* line 67, ../sass/page.scss */
.islandora-basic-collection {
  width: auto;
  padding: 20px;
}

/* line 72, ../sass/page.scss */
.islandora-basic-collection-wrapper {
  background-color: white;
}

/* line 76, ../sass/page.scss */
.islandora-object-info-wrapper {
  padding: 20px;
}

/* line 80, ../sass/page.scss */
#branding {
  color: #fff;
}
/* line 82, ../sass/page.scss */
#branding .branding-wrapper a {
  display: table-cell;
  text-decoration: none;
  height: 60px;
  vertical-align: middle;
}

/* line 90, ../sass/page.scss */
.page__title.title {
  margin-bottom: .2em;
  margin-top: .2em;
}

/* line 96, ../sass/page.scss */
.breadcrumb a {
  text-decoration: none;
}

/* line 100, ../sass/page.scss */
#branding_text_right {
  display: table-cell;
  border-left-color: #3f4760;
  border-left-style: solid;
  border-left-width: 2px;
  color: #9faab2;
  font-family: "Proxima Nova",Verdana,Arial,Helvetica,sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.055em;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 0;
  padding-top: 0;
  text-transform: uppercase;
  word-spacing: 0.02em;
  vertical-align: middle;
}

/* line 119, ../sass/page.scss */
#branding_text_left {
  display: table-cell;
  color: #fff;
  font-family: "UConn";
  font-size: 32px;
  letter-spacing: 3px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 5px;
  padding-top: 0;
  vertical-align: middle;
  text-transform: uppercase;
}

/* line 133, ../sass/page.scss */
#block-system-powered-by {
  display: none;
}

/* line 137, ../sass/page.scss */
#logo {
  display: none;
}

/* line 141, ../sass/page.scss */
.icon-search {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url("/sites/all/themes/uconn_theme/images/icon-search.png");
  background-origin: padding-box;
  background-position: 9px 8px;
  background-repeat: no-repeat;
  background-size: auto auto;
  display: block;
  height: 35px;
  width: 35px;
}

/* line 155, ../sass/page.scss */
.btn-block {
  display: inline-block;
  height: 35px;
  width: 35px;
}

/* line 161, ../sass/page.scss */
#mediaplayer {
  max-width: 100%;
}

/* line 165, ../sass/page.scss */
.letters {
  text-decoration: none;
}
/* line 167, ../sass/page.scss */
.letters span {
  padding-right: 2px;
  padding-top: 5px;
}

/* line 173, ../sass/page.scss */
.islandora-basic-collection-grid {
  text-align: center;
}

/* line 176, ../sass/page.scss */
.islandora-basic-collection-grid.clearfix dl {
  text-align: center;
  vertical-align: middle;
}

/* line 181, ../sass/page.scss */
.islandora-basic-collection-display-switch {
  padding-right: 20px;
  max-height: 25px;
  width: 100%;
}
/* line 185, ../sass/page.scss */
.islandora-basic-collection-display-switch li {
  padding-right: 0em;
  text-indent: -9999px;
}

/* line 191, ../sass/page.scss */
.display-switch-wrapper {
  width: 100%;
}
/* line 193, ../sass/page.scss */
.display-switch-wrapper .ul-display-switch {
  float: right;
}

/* line 198, ../sass/page.scss */
a.islandora-view-grid {
  background: url("../images/display-grid.png") no-repeat;
  display: inline-block;
  height: 21px;
  width: 20px;
  color: transparent;
}

/* line 206, ../sass/page.scss */
a.islandora-view-list {
  background: url("../images/display-grid-list.png") no-repeat;
  display: inline-block;
  height: 21px;
  width: 20px;
  color: transparent;
}

/* line 214, ../sass/page.scss */
.branding-button-wrapper {
  display: inline-block;
  float: right;
  position: relative;
  text-align: right;
  top: -48px;
}
/* line 220, ../sass/page.scss */
.branding-button-wrapper span {
  font-size: 10px;
  display: inline-block;
}
/* line 224, ../sass/page.scss */
.branding-button-wrapper a {
  height: 35px;
  width: 35px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-position: center top;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;
  overflow-x: hidden;
  overflow-y: hidden;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: none;
  transition-timing-function: ease;
}

/* line 246, ../sass/page.scss */
.header__site-name {
  font-size: 80%;
  letter-spacing: 0.5pt;
  text-transform: uppercase;
}

/* line 251, ../sass/page.scss */
.header__site-link:link, .header__site-link:visited {
  color: #9c9ba9 !important;
}

/* line 255, ../sass/page.scss */
#site-name, #site-slogan {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 260, ../sass/page.scss */
#site-slogan {
  font-size: 1.2em;
  font-family: Verdana,Tahoma,"DejaVu Sans",sans-serif;
}

/* line 265, ../sass/page.scss */
#name-and-slogan {
  padding-top: 10px;
  padding-right: 10px;
}

/* line 270, ../sass/page.scss */
#page-title {
  display: inline-block;
}

/* line 274, ../sass/page.scss */
.secondary-display-profiles {
  display: inline-block;
  float: right;
  margin-top: 1em;
  margin-bottom: 2em;
}
/* line 279, ../sass/page.scss */
.secondary-display-profiles .secondary-display-rss {
  max-width: 35px;
}

/* line 284, ../sass/page.scss */
#secondary-display-profiles li {
  display: table-cell;
  vertical-align: middle;
}

/* line 289, ../sass/page.scss */
ul.islandora-solr-display {
  float: right;
  display: inline;
  width: 100%;
}
/* line 293, ../sass/page.scss */
ul.islandora-solr-display li {
  display: inline;
  float: right;
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  text-indent: -9999px;
  width: 21px;
}
/* line 301, ../sass/page.scss */
ul.islandora-solr-display li a.display-bookmark {
  background-image: url("../images/display-bookmark.png");
  display: block;
  height: 20px;
  text-indent: -9999px;
  width: 21px;
}
/* line 308, ../sass/page.scss */
ul.islandora-solr-display li a.display-default {
  background-image: url("../images/display-grid-list.png");
  display: block;
  height: 20px;
  text-indent: -9999px;
  width: 21px;
}
/* line 315, ../sass/page.scss */
ul.islandora-solr-display li a.display-grid {
  background-image: url("../images/display-grid.png");
  display: block;
  height: 20px;
  text-indent: -9999px;
  width: 21px;
}

/* line 325, ../sass/page.scss */
fieldset.islandora-metadata {
  border: none;
}

/* line 328, ../sass/page.scss */
.islandora-pdf-content-wrapper {
  display: inline-block;
}
/* line 330, ../sass/page.scss */
.islandora-pdf-content-wrapper .islandora-pdf-content {
  width: auto;
}

/* line 335, ../sass/page.scss */
.islandora-metadata .fieldset-title {
  text-decoration: none;
}

/* line 340, ../sass/page.scss */
.islandora-inline-metadata dt {
  text-align: left;
}

/* line 345, ../sass/page.scss */
html.js .collapsible .fieldset-legend {
  background-position: 70px 65%;
}

/* line 349, ../sass/page.scss */
.branding-button-wrapper span a {
  font-size: 110%;
  padding-left: 3px;
  text-align: center;
}
/* line 353, ../sass/page.scss */
.branding-button-wrapper span a span:nth-child(2) {
  padding-right: 0px;
}

/* line 358, ../sass/page.scss */
.branding-button-wrapper span {
  color: #c1e8f8;
  display: inline-block;
  font-size: 80%;
  padding-right: 0;
  text-align: center;
}

/* line 367, ../sass/page.scss */
#main div.limiter {
  padding: 0px;
}
/* line 369, ../sass/page.scss */
#main div.limiter div#content {
  padding: 0px;
}
