/**
 * @file
 * Basic footer styling rules
 */
 
@import "init";
@import "zen";

  $zen-column-count: 3;
  $zen-gutter-width: 20px;
      
.btn-libraries {
  text-align: center;
  cursor: pointer;
  list-style-type: none !important;
  dl, menu, ol, ul{
    margin-top: .8em;
    margin-bottom: .8em;
  }
  .menu__item.is-leaf{
    list-style-type: none !important;
    list-style-image: none !important;
  }
  ul{
    padding-left: 0px;
    list-style-type: none !important;
    list-style-image: none !important;
  }
  a{
    color: white !important;
    text-decoration: none;
    list-style-type: none !important;
    list-style-image: none !important;
  }
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(to bottom, #0368b0 0%, #0e5b8f 100%);
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  border-bottom-color: -moz-use-text-color;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;
  border-left-color: -moz-use-text-color;
  border-left-style: none;
  border-left-width: medium;
  border-right-color: -moz-use-text-color;
  border-right-style: none;
  border-right-width: medium;
  border-top-color: -moz-use-text-color;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: none;
  border-top-width: medium;
  color: white;
  font-size: 13px;
  margin-top: 10px;
  width: 100%;
}

#footer{
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-bottom-color: #ccc;
  border-bottom-style: solid;
  border-bottom-width: 0;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;
  border-left-color: #ccc;
  border-left-style: solid;
  border-left-width: 0;
  border-right-color: #ccc;
  border-right-style: solid;
  border-right-width: 0;
  border-top-color: #ccc;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: .6em;
  .block{
    margin-bottom: 0em;
  }
}
.footer-lower-menu{
  font-size: 80%;
  ul{
  padding-left: 0px;
    li{
      display: inline;
      a{
        text-decoration: none;
      }
    }
  }
}
.footer-menu-links{
  ul{
    padding-left: 0px;
    text-align: center;
    font-size: 80%;
    li{
      display: inline;
      padding-left: 5px;
      padding-right: 5px;
      a{
        text-decoration: none;
      }
    }
  }
}
.footer-university-info{
  img{
    max-width: 70px;
  }
  .view-content .views-row {
    display: inline-block;
  }
}

.view-footer-icon-and-info{
  font-size: 75%;
  .view-content{
    .views-row{
      width: 100%;
      display: table;
      .views-field.views-field-field-image-block, .views-field.views-field-body {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}
.footer-social-media-view{
  img:hover{
    opacity: 0.7;
  }
  table {
    margin-bottom: 0em;
    margin-top: 0.5em;
  }
}

@media (min-width: 670px) {
  #footer{
    .limiter{
      @include zen-grid-item-base();
      @include zen-grid-container;
    
      .footer-university-info{
        @include zen-grid-item(1, 1);
      }
      .footer-menu-links{
        @include zen-grid-item(1, 2);
      }
      .btn-libraries{
        @include zen-grid-item(1, 1, right);
      }
      .footer-social-media-view{
        @include zen-clear(right);
        @include zen-grid-item(1, 1, right);
      }
      .footer-lower-menu{
        @include zen-clear();
        @include zen-grid-item(3, 1);
      }
    }
  }
}
